<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		input, textarea {
			display: block;
			border: 1px solid #000;
		}
	</style>
</head>
<body>
	<div>
		<form action="">
			<p class="alerta" v-if="!mensaje">Pon un mensaje</p>
			<textarea id="" cols="30" rows="10" required v-model="mensaje"></textarea>
			<input type="submit" v-if="mensaje">
		</form>
		

		<pre>{{ $data | json }}</pre>
	</div>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.js"></script>

	<script type="text/javascript">
		
		new Vue ({

			el: 'body',

			data: {
				mensaje: 'dejar un mensaje'
			}

		})

	</script>
</body>
</html>